In [7]:
print("hello")

hello

In [8]:
print("hello")

hello

In [14]:
a = 0O10

In [15]:
a

8

In [17]:
a = 0x10

In [18]:
a

16

In [21]:
14 // 3

4

In [24]:
14 % 3

2

In [26]:
'hello'

'hello'

In [25]:
'''hel
lo'''

'hel\nlo'

In [11]:
d = [{'name':'홍길동1', 'age':30}, 
    {'name':'홍길동2', 'age':40},
     {'name':'홍길동3', 'age':50},
    ]

In [12]:
type(d)

list

In [3]:
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [5]:
f'{"hi":<10}'

'hi        '

In [7]:
f'{"hi":>10}'

'        hi'

In [8]:
f'{"hi":^10}'

'    hi    '

In [14]:
for i in d:
    print(f'나의 이름은 {i["name"]}입니다. 나이는 {i["age"]}입니다.')

나의 이름은 홍길동1입니다. 나이는 30입니다.
나의 이름은 홍길동2입니다. 나이는 40입니다.
나의 이름은 홍길동3입니다. 나이는 50입니다.

In [15]:
a = "hobby"

In [16]:
a

'hobby'

In [28]:
a.count('b')

1

In [32]:
a.find('bbb')

-1

In [36]:
a.index('bb')

2

In [51]:
",".join('abcdqwertyuiopasdfghjklasdfghjklzxcvbnm')

'a,b,c,d,q,w,e,r,t,y,u,i,o,p,a,s,d,f,g,h,j,k,l,a,s,d,f,g,h,j,k,l,z,x,c,v,b,n,m'

In [37]:
",".join(['a','b','c','d'])

'a,b,c,d'

In [39]:
a.upper()

'HOBBY'

In [42]:
a.lower()

'hobby'

In [43]:
a = "  hi  "

In [44]:
a.lstrip()

'hi  '

In [48]:
a.rstrip()

'  hi'

In [7]:
a=[]

In [8]:
b=list()

In [12]:
type(a)

list

In [11]:
type(b)

list

In [21]:
c = ['list', 'list2', 'list3', 'list4', ['list5', 'list6', [1,2,3], 'list7']]

In [14]:
c

['list', 'list2', 'list3', 'list4', ['list5', 'list6', 'list7']]

In [23]:
c[4][2][2]

3

In [41]:
a = input()

 10

In [42]:
a

'10'

In [43]:
type(a)

str

In [44]:
a.isdecimal()

True

In [56]:
a = [1, 2, 3]

In [57]:
a[1] = 3

In [58]:
a

[1, 3, 3]

In [59]:
del a[1]

In [60]:
a

[1, 3]

In [61]:
b = [1,2,3,4,5]

In [62]:
del b[3:]

In [63]:
b

[1, 2, 3]

In [64]:
t5 = (1,2,3,[4,5,6])

1