In [7]:
print("hello")

hello

In [8]:
print("hello")

hello

In [14]:
a = 0O10

In [15]:
a

8

In [17]:
a = 0x10

In [18]:
a

16

In [21]:
14 // 3

4

In [24]:
14 % 3

2

In [26]:
'hello'

'hello'

In [25]:
'''hel
lo'''

'hel\nlo'

In [11]:
d = [{'name':'홍길동1', 'age':30}, 
    {'name':'홍길동2', 'age':40},
     {'name':'홍길동3', 'age':50},
    ]

In [12]:
type(d)

list

In [3]:
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [5]:
f'{"hi":<10}'

'hi        '

In [7]:
f'{"hi":>10}'

'        hi'

In [8]:
f'{"hi":^10}'

'    hi    '

In [14]:
for i in d:
    print(f'나의 이름은 {i["name"]}입니다. 나이는 {i["age"]}입니다.')

나의 이름은 홍길동1입니다. 나이는 30입니다.
나의 이름은 홍길동2입니다. 나이는 40입니다.
나의 이름은 홍길동3입니다. 나이는 50입니다.

In [15]:
a = "hobby"

In [16]:
a

'hobby'

In [28]:
a.count('b')

1

In [32]:
a.find('bbb')

-1

In [36]:
a.index('bb')

2

In [51]:
",".join('abcdqwertyuiopasdfghjklasdfghjklzxcvbnm')

'a,b,c,d,q,w,e,r,t,y,u,i,o,p,a,s,d,f,g,h,j,k,l,a,s,d,f,g,h,j,k,l,z,x,c,v,b,n,m'

In [37]:
",".join(['a','b','c','d'])

'a,b,c,d'

In [39]:
a.upper()

'HOBBY'

In [42]:
a.lower()

'hobby'

In [43]:
a = "  hi  "

In [44]:
a.lstrip()

'hi  '

In [48]:
a.rstrip()

'  hi'

In [7]:
a=[]

In [8]:
b=list()

In [12]:
type(a)

list

In [11]:
type(b)

list

In [21]:
c = ['list', 'list2', 'list3', 'list4', ['list5', 'list6', [1,2,3], 'list7']]

In [14]:
c

['list', 'list2', 'list3', 'list4', ['list5', 'list6', 'list7']]

In [23]:
c[4][2][2]

3

In [41]:
a = input()

 10

In [42]:
a

'10'

In [43]:
type(a)

str

In [44]:
a.isdecimal()

True

In [56]:
a = [1, 2, 3]

In [57]:
a[1] = 3

In [58]:
a

[1, 3, 3]

In [59]:
del a[1]

In [60]:
a

[1, 3]

In [61]:
b = [1,2,3,4,5]

In [62]:
del b[3:]

In [63]:
b

[1, 2, 3]

In [64]:
t5 = (1,2,3,[4,5,6])

In [95]:
dict = { 'a':10, 'b':20, 'c':30 }

In [73]:
dict.keys()

dict_keys(['a', 'b', 'c'])

In [74]:
dict.values()

dict_values([10, 20, 30])

In [75]:
dict.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [76]:
di = dict.items()

In [77]:
di

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [83]:
for i in dict:
    i

In [84]:
list1 = list(dict.keys())

In [88]:
list2 = dict.keys()

In [89]:
list1

['a', 'b', 'c']

In [90]:
list2

dict_keys(['a', 'b', 'c'])

In [92]:
dict

{'a': 10, 'b': 20, 'c': 30}

In [97]:
dict['a']

10

In [106]:
dict.get('d', 40)

40

In [107]:
'a' in dict

True

In [108]:
a = {'name' : '홍길동'}

In [109]:
'name' in a

True

In [110]:
'mail' in a

False

In [111]:
s1 = set([1,2,3])

In [112]:
s1

{1, 2, 3}

In [113]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [114]:
s1 & s2

{4, 5, 6}

In [115]:
s1.intersection(s2)

{4, 5, 6}

In [116]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [117]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [118]:
s1 - s2

{1, 2, 3}

In [119]:
s2 - s1

{7, 8, 9}

In [120]:
s1.difference(s2)

{1, 2, 3}

In [121]:
s2.difference(s1)

{7, 8, 9}

In [122]:
s1 = set([1,2,3])

In [123]:
s1.add(4)

In [124]:
s1

{1, 2, 3, 4}

In [125]:
s1 = set([1,2,3])

In [126]:
s1.update([4,5,6])

In [127]:
s1

{1, 2, 3, 4, 5, 6}

In [128]:
s1 = set([1,2,3])

In [129]:
s1.remove(2)

In [130]:
s1

{1, 3}

In [131]:
s1 = set([1,2,3])

In [132]:
ls = list(s1)

In [133]:
ls

[1, 2, 3]

In [134]:
ls[0]

1

In [135]:
ts = tuple(s1)

In [136]:
ts

(1, 2, 3)

In [137]:
ts[0]

1

In [138]:
type(s1)

set

In [149]:
a = [1,2,3,4]

In [150]:
if a:
    print("참")
else:
    print('거짓')

참

In [151]:
a

[1, 2, 3, 4]

In [152]:
b = a
b

[1, 2, 3, 4]

In [153]:
id(a)

1943782767432

In [154]:
id(b)

1943782767432

In [155]:
a is b

True

In [156]:
b = a[:]

In [157]:
id(a)

1943782767432

In [164]:
id(b)

1943783163400

In [165]:
a is b

False

In [159]:
from copy import copy

In [160]:
b = copy(a)

In [161]:
id(a)

1943782767432

In [162]:
id(b)

1943783163400

In [163]:
a is b

False

In [166]:
a, b = 'python', 'life'

In [167]:
a

'python'

In [168]:
b

'life'

In [169]:
[a,b] = ['python2','test']

In [170]:
a

'python2'

In [171]:
b

'test'

In [172]:
a = 3
b = 5

In [173]:
a

3

In [174]:
b

5

In [175]:
a, b = b, a

In [176]:
a

5

In [177]:
b

3